.header {
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 4;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    block-size: 80px;
}