.title {
    background-color: var(--purple);
    color: var(--white);
    align-self: flex-start;
    font: var(--headline5);
    padding-block-end: 4px;
    padding-block-start: 4px;
    padding-inline-end: 8px;
    padding-inline-start: 8px;
    text-decoration: none;
    box-shadow: -4px 4px 0 var(--white);
}